# The Caddyfile is an easy way to configure your Caddy web server.
#
# https://caddyserver.com/docs/caddyfile
# https://caddyserver.com/docs/caddyfile/concepts#addresses

(logging) {
  log {args[0]} {
    output file /var/log/caddy/access.log
    format json
  }
}

cp.sashimii.com {
  reverse_proxy localhost:3923
}

immich.sashimii.com {
    reverse_proxy localhost:2383
    import logging immich
}

files.sashimii.com {
    reverse_proxy localhost:2284
    import logging files
}

status.sashimii.com {
    reverse_proxy localhost:3001
    import logging status
}

system.sashimii.com {
    reverse_proxy localhost:3002
    import logging system
}

ismyhouseonfire.sashimii.com {
    respond "Probably Not!"
    import logging ismyhouseonfire
}

# Catches all requests that are not handled above:
:80, :443 {
  respond "Access denied" 403 {
    close
  }
  import logging catchall
}

